public/downloads/whatsapp-ai-assistant-EN.json
{
  "id": "J2D0BssoDmn4BC6D",
  "meta": {
    "instanceId": "workflow-4bbace53",
    "templateCredsSetupCompleted": false
  },
  "name": "AI Customer-Support Assistant · WhatsApp Ready · Works for Any Business",
  "tags": [
    "automation",
    "n8n",
    "production-ready"
  ],
  "nodes": [
    {
      "id": "7e0e84c8-ad96-44d1-9de9-c639230418fd",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [-260, 140],
      "webhookId": "857366e8-7b6f-45a7-bbd1-f876002620d7",
      "parameters": {
        "updates": ["messages"]
      },
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "EB6eAVg9ZBZGYsyX",
          "name": "WhatsApp OAuth account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fe395033-e36e-42d4-a0ce-8362b172be31",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [120, 140],
      "parameters": {
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "maxIterations": 10,
          "systemMessage": "=You are [Company Name]'s real-time website assistant for [YOUR_WEBSITE_URL]\n\nAVAILABLE TOOLS\n• list_links(url) → { urls:[ … ] }  — returns up to 100 internal links from that page  \n• get_page(url)   → { text:\"…\" }    — returns the visible, tag-free text of the page (JavaScript rendered if needed)\n\nSEARCH STRATEGY\n1. Start with list_links on the root page.  \n2. Pick ≤ 5 links whose URL or anchor text best match the user's question.\n3. For each chosen link call get_page once.  \n4. Read the returned text and look for the answer.  \n5. If the answer is still unknown, you may repeat steps 1-4 one level deeper.  \n6. Stop after two list_links rounds or eight get_page calls (whichever comes first).\n\nANSWER RULES\n• Reply in clear and friendly tone as part of [Company Name] (use \"we\", \"our\").  \n• Keep answers concise but complete.  \n• No Markdown formatting. No *, **, _, ~, or [text](url).\n  Write urls like: Descriptive Text URL\n• Quote the exact wording for facts such as stock status, prices, shipping, payment methods, warranties or policies.  \n• If the information is not on the site, reply exactly:  \n  \"I can't find that information on our site right now. Do you want me to put you through to a human agent?\"  \n• Stay on-domain; ignore mailto:, tel:, javascript:, or off-site links.\n• If any of the tools returns a status code 404, then reply: \"Non-subscribed user.\"",
          "returnIntermediateSteps": true
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.7
    },
    {
      "id": "21ceaf5e-d2d4-47c3-98cb-ee7c0ab0fcab",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [-20, 340],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "jh4eAOIykIxQWUI9",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "35e6c77f-56c5-4b93-a69a-e048b593cf40",
      "name": "Postgres Users Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [120, 500],
      "parameters": {
        "tableName": "message_history",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "sessionIdType": "customKey"
      },
      "credentials": {
        "postgres": {
          "id": "Bk7n11D1jU5zJ802",
          "name": "Postgres account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "3953a213-6140-4603-a069-93718e4d8982",
      "name": "list_links",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [260, 420],
      "parameters": {
        "url": "[YOUR_WEBSITE_URL]",
        "method": "POST",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "url",
              "value": "[YOUR_WEBSITE_URL]",
              "valueProvider": "fieldValue"
            },
            {
              "name": "auth-token",
              "value": "YOUR-AUTH-TOKEN",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "toolDescription": "Returns up to 100 unique, fully-qualified INTERNAL links for a given page.\n\nInput (JSON body the model must supply)\n  { \"url\": \"<absolute URL>\" }\n\nBehaviour\n  • Crawls only the domain of the input URL.\n  • Converts relative <a href> values to absolute URLs.\n  • Drops empty roots, mailto:, tel:, javascript:, and off-site links.\n  • De-duplicates the list.\n  • Responds with: { \"urls\": [ \"<link-1>\", \"<link-2>\", … ] }\n\nUse this tool when you need a navigation map of the current page."
      },
      "typeVersion": 1.1
    },
    {
      "id": "ef403af2-4543-4edb-80ae-afda1e98a2a9",
      "name": "get_page",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [400, 420],
      "parameters": {
        "url": "[YOUR_WEBSITE_URL]",
        "method": "POST",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "auth-token",
              "value": "YOUR-AUTH-TOKEN",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "toolDescription": "Fetches the fully-rendered plain text of a single web page.\n• Input  : { \"url\": \"<absolute URL>\" }\n• Output : { \"text\": \"<visible text of the body>\", \"url\": \"<same url>\" }\n• The \"text\" field has all HTML tags removed.\n• Use this tool for product details, prices, shipping terms, payment options, company policies, etc.\n• Do not call it on off-site links or mailto:/tel:/javascript: pseudo-links."
      },
      "typeVersion": 1.1
    },
    {
      "id": "46c1fd08-9b61-4ea9-bee3-9ad8b7e7ce4d",
      "name": "24-hour window check",
      "type": "n8n-nodes-base.code",
      "position": [520, 140],
      "parameters": {
        "jsCode": "// within24h? – run once per item\n// Meta (WhatsApp) timestamp arrives as seconds since epoch\nconst lastTs = Number($('WhatsApp Trigger').first().json.messages[0].timestamp) * 1000;\nconst withinWindow = Date.now() - lastTs < 24 * 60 * 60 * 1000;\n\nreturn [{ json: { withinWindow, answer: $json.answer, userId: $json.userId } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "c2a0ba34-4a23-4918-9be8-7b9d50279cde",
      "name": "cleanAnswer",
      "type": "n8n-nodes-base.code",
      "position": [340, 140],
      "parameters": {
        "jsCode": "// cleanAnswer – run once per item\nlet txt = $('AI Agent').first().json.output || '';\n\n// 1. Remove bold / italic / strike markers\ntxt = txt.replace(/[*_~]+/g, '');\n\n// 2. Convert [Text](url) → Text url\ntxt = txt.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$1 $2');\n\n// 3. Collapse 3+ blank lines\ntxt = txt.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nreturn [{ json: { answer: txt } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "0309e9fb-745e-46cd-a360-a6a4a96ffa36",
      "name": "If within 24h",
      "type": "n8n-nodes-base.if",
      "position": [740, 140],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d33e218e-a49a-49ed-9c6b-55b9ea0b0dbb",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.withinWindow }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "fd41fbf2-f471-4529-bb4d-358ace9cf639",
      "name": "Send AI Agent's Answer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [1000, 60],
      "parameters": {
        "textBody": "={{ $json.answer }}",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "requestOptions": {},
        "additionalFields": {},
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "zNN8ICsFZI5A7frT",
          "name": "WhatsApp account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e0f6e0b0-d2f8-4be5-85e4-74b351390369",
      "name": "Send Template (Reopen Window)",
      "type": "n8n-nodes-base.whatsApp",
      "position": [1000, 280],
      "parameters": {
        "template": "hello_world|en_US",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "requestOptions": {},
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "zNN8ICsFZI5A7frT",
          "name": "WhatsApp account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "67c3296e-8915-4857-a294-03c5bc8257c0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-920, -320],
      "parameters": {
        "width": 460,
        "height": 1460,
        "content": "# 🚀 Setup Guide (15 min)\n\n## 1. Get your auth-token\n- Activate membership to get your key\n- Paste key in list_links & get_page nodes:\n  Name: auth-token\n  Value: YOUR-KEY\n\n## 2. Customize for your company\n- Replace [YOUR_WEBSITE_URL] with your website root URL in:\n  • AI Agent system message\n  • list_links node URL\n  • get_page node URL\n- Replace [Company Name] in system message\n\n## 3. Connect credentials\n- OpenAI Chat Model → your OpenAI API key\n- Postgres Users Memory → your Supabase/Postgres\n- WhatsApp nodes → your WhatsApp Business API\n\n## 4. Activate & test!\n- Toggle the workflow ON\n- Send a WhatsApp message to test"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC"
  },
  "versionId": "245c3695-7177-4a1d-a33d-7aedd0eccc44",
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Users Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "list_links": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_page": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "cleanAnswer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanAnswer": {
      "main": [
        [
          {
            "node": "24-hour window check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24-hour window check": {
      "main": [
        [
          {
            "node": "If within 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If within 24h": {
      "main": [
        [
          {
            "node": "Send AI Agent's Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Template (Reopen Window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
